@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #0D8C98;
    
}

.calculator {
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 10px;
    background-color: #F54A5E;
}

table td {
    display:inline-block;
}

.btn {
    margin: 3px;
    width: 50px;
    height: 40px;
    cursor: pointer;
    border: none;
    background-color: rgb(28, 28, 31);
    color: #F7FFE0;
    font-size: 18px;
    transition: all 500ms ease-in-out;
}


.btn:hover {
    background-color: #F54A5E;
}

.ac {
    background-color: #0D8C98;
    color: #FCDB05;
    font-weight: bold;
    
}

.ac:hover {
    background-color: #F54A5E;
}

.especial {
    background-color: #0D8C98;
    color: #FCDB05;
    font-weight: bold;

}

.especial:hover {
    background-color: #F54A5E;
}

.igual {
    background-color: #fcdb05;
    color: rgb(0, 0, 0);
    font-weight: 500;

}

.igual:hover {
    background-color: #F54A5E;
}

.result {
    height: 100px;
    color: #F7FFE0;
    text-align: right;
    font-size: 35px;
    word-wrap: break-word;
    border-bottom: 1px solid #FCDB05;
}




